@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: url("/assets/cursors/blueCursor.png"), default;
  scrollbar-width: none;
}

::selection {
  background-color: #e12120;
}

::-moz-selection {
  background-color: #e12120;
}

@font-face {
  font-family: "Monaco";
  src: url("/assets/fonts/Monaco.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/assets/fonts/HelveticaNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url("/assets/fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
