@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: url("/assets/cursors/blueCursor.png"), default;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none; /* Older Firefox */
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #e12120;
}

::-moz-selection {
  background-color: #e12120;
}

.bg-section-two {
  background-color: #020202;
  background-image: linear-gradient(180deg, #000000e3, #000000e3),
    url(/assets/images/dedTV.gif);
}

.old_windows-window-border {
  border: 2px solid #f4ebeb;
  border-right: 2px solid #413f3f;
  border-bottom: 2px solid #413f3f;
  border-radius: 1px;
}

@font-face {
  font-family: "Monaco";
  src: url("/assets/fonts/Monaco.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/assets/fonts/HelveticaNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url("/assets/fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
