@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monaco";
  src: url("../public/assets/fonts/Monaco.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("../public/assets/fonts/HelveticaNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
